@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #ec6724;
}

@theme {
  --color-orange: var(--color-primary);
  --font-sans: "Inter", sans-serif;
  --shadow-custom: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
