@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #ec6724;
}

@theme {
  --color-orange: var(--color-primary);
  --color-gray-medium: #d9d9d9;
  --color-gray-dark: #363636;
  --font-sans: "Inter", sans-serif;
  --shadow-custom: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow-custom-sm: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

@layer base {
  html,
  body,
  div#root {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }
}
